server:
  port: ${SERVER_PORT:8080}

spring:
  application:
    name: nas-springboot-backend
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://mysql:3306/nas_db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true}
    username: ${SPRING_DATASOURCE_USERNAME:nas_user}
    password: ${SPRING_DATASOURCE_PASSWORD:nas_password}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false

logging:
  level:
    root: INFO
    com.nas: DEBUG

